body {
    font-family: Arial;
    margin: 20px;
}

h1 {
    text-align: center;
}

input {
    margin: 5px;
    padding: 5px;
}

button {
    padding: 5px 10px;
    cursor: pointer;
}

ul {
    margin-top: 10px;
}

table {
    margin-top: 10px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 8px;
}